html,body{
  width: 100%;
  height: 1100%;
  margin:0;
  padding:0;
  background-color: #EAEDF1;
  min-width:1024px;
}

#app{
  height:100%;
}

.el-breadcrumb {
  margin-bottom:20px;
}

.el-card {
  box-shadow:0 1px 1px rgba(0,0,0,0.15) !important;
}

.el-table{
  margin-top:15px;
  font-size:12px;
}

/*设置编辑器的 最小高度*/
.ql-editor {
  min-height:400px
}